@model Microsoft.Knowzy.Models.ViewModels.OrderLineViewModel
<tr>
    <td>
        <img src='@Html.DisplayFor(modelItem => modelItem.ProductImage)'/>
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.ProductId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => modelItem.Quantity)
    </td>
</tr>
