footer {
    width: 100%;
    position: absolute;
    height: 26%;
    left: 0;
    background-color: #333333;
}

footer .text {
    color: white;
    margin-top: 40px;
    margin-left: 50px;
    font-size: 16px;
    font-family: Segoe UI;
}

@media screen and (max-width: 767px) {
    footer {
        display: none;
    }
}
