.main-grid {
    border: none;
    margin-top: 0;
    margin-bottom: 0;
}

    .main-grid th, .main-grid td {
        height: 60px;
        color: black;
        font-size: 18px;
        border: none !important;
        vertical-align: middle !important;
        padding-left: 20px !important;
        font-weight: normal !important;
    }

    .main-grid > tbody > tr:nth-of-type(even) {
        background-color: #ebebeb;
    }

    .main-grid > thead > tr {
        background-color: #f9bd39;
    }

    .main-grid > tbody > tr:hover {
        background-color: #0078d7;
        cursor: pointer;
    }

        .main-grid > tbody > tr:hover > td {
            color: white;
        }
