.toolbar {
    margin-bottom: 20px;
    margin-top:70px;
}

.toolbar-left {
    float: left;
    margin-bottom: 20px;
}

.toolbar-right {
    float: right;
    margin-bottom: 20px;
}

.grid-header {
    background-color: #f9bd39;
    font-family: Segoe UI;
    font-size: 18px;
}

.grid-item {
    font-family: Segoe UI;
    font-size: 18px;
    
}

th {
    font-weight: normal;
}
.fixed-table-container {
    margin-bottom:100px;
    margin-top:55px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #0078d7;
    color: white;
}

.btn-primary {
    width: 259px;
    height: 49px;
    background-color: #f9bd39;
    font-size: 18px;
    border-color: transparent;
    color:black;
}

.shipping-information {
    font-family: Segoe UI;
    font-size: 30px;
    color: #000000;
}

.table-responsive{
    border: none;
}

@media (max-width: 767px) {
    .toolbar-left {
        display: none;
    }

    .toolbar-right {
        display: none;
    }

    .toolbar {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .body-content{
        padding: 0px;
    }

    .navbar-default{
        margin-bottom: 0px;
    }

    .fixed-table-container {
        margin-bottom: 100px;
        margin-top: 0px;
    }
}
