@font-face {
    font-family: Segoe UI;
    src: url('../fonts/segoeui/segoeui.eot?#iefix') format('embedded-opentype'), url('../fonts/segoeui/segoeui.woff') format('woff'), url('../fonts/segoeui/segoeui.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    padding: 0;
    font-family: Segoe UI;
    min-width: 320px;
    height: calc(100% - 275px);
    height: -webkit-calc(100% - 275px);
    height: -moz-calc(100% - 275px);
}

.body-content {
    background: url("../images/bg art.png") no-repeat;
    background-size: cover;
    min-height: 100%;
    padding-top: 49px;
    padding-bottom: 104px;
    margin-bottom: -238px;
}

    .body-content:after {
        content: "";
        display: block;
        height: 257px;
    }

    .body-content .container {
        position: relative;
    }

input,
select,
textarea {
    max-width: 280px;
}

button:focus {
    outline: 0 !important;
}

a {
    cursor: pointer;
}

.button-default {
    color: black;
    border-color: transparent;
    background-color: #f9bd39;
}

    .button-default:hover,
    .button-default:active:hover,
    .button-default:visited,
    .button-default:active,
    .button-default:focus {
        color: white;
        background-color: #0078d7;
        border-color: transparent;
    }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

@media screen and (max-width: 767px) {
    .body-content {
        padding: 0;
    }

        .body-content:after {
            display: none;
        }
}
